.main-content {
  flex: 1;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  padding-top: 72px;

  min-height: calc(100vh - var(--header-height));

  background: var(--background);
}
