/* ==========================================
   1. IMPORTS
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto',sans-serif;
}

:root{

  --header-height:56px;

  --sidebar-width:240px;

  --border-color:#e5e5e5;

  --background:#fff;

  --hover:#f2f2f2;

  --text-color:#0f0f0f;

  --accent:#1976d2;

  --accent-hover:#1c62b9;

  --input-border:#ccc;

  --hover-bg:rgba(0, 0, 0, 0.05);

  --scrollbar-thumb:#888;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}